/** 
* @author: Alexander Chi
* @description:
* @date: 01/Agosto/2021
**/ 
@import url('https://fonts.google.com/specimen/Overpass?preview.text_type=custom');
@import url('https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', 'Fraunces'; 
}

