/** 
* @author: Alexander Chi
* @description:
* @date: 01/Agosto/2021
**/ 
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', 'Ubuntu', sans-serif;  
}

/** Option desktop **/
header {  
  background: url('./assets/svgs/bg-pattern-intro.svg'), linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  width: 100%;
  height: calc(70vh - 25em);
  border-bottom-left-radius: 50px;
  color: #FFF;   
  background-position: 25% center; 
} 

 

.header__div__img {
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.header__img {
  width: 5em;
  height: 2em;
}

.header_div__content_head {
  display: flex; 
  justify-content: space-between;
  padding: 2em 3em;
}

.header__div__options {
  display: flex; 
}

.ul__option__desktop {
  display: flex;
  align-items: center;
}

.ul__button__desktop {
  display: flex; 
}

li { 
  list-style-type: none;
  padding: 0.5em 2em; 
}

li.signup,
li.startfree,
li.learnmore,
li.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0.5em 2em;
  height: 3em;
}
 
a.a__option__desktop,
a.a__button__desktop {
  text-decoration: none;
  color: #FFF;
}

.li__option__desktop::after {
  padding-left: 0.5em;
  content: url('./assets/svgs/icon-arrow-light.svg');
  cursor: pointer;
}

li.signup,
li.startfree {
  background-color: #FFF;
  color: transparent;
  border-radius: 30px;
} 

li.learnmore {
  border-radius: 30px;
  border: 1px;
  border-style: solid;
  border-color: #FFF;
}

ul.ul__button__desktop> li.signup> a,
ul.ul__button__desktop> li.startfree> a{  
  color: hsl(353, 100%, 62%);
  font-weight: bold;
}

ul> li.startfree{  
  margin-right: 0.5em;
}

.header_div__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.header__title {
  margin-top: 150px;
  font-size: 4em;
}

.header__sub__title {
  margin-top: 25px;
}

.header_div__button_action {
  margin-top: 35px;
}

/** Designed **/
section.section_designed {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
}

.container___title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.container {
  display: flex; 
  flex-direction: row;
  /*background-image: url('./img/svgs/illustration-editor-desktop.svg');
  background-repeat: revert;
  background-position: center;*/
}

.content__info {
  margin-bottom: 2.5em; 
}

div.content__info> h3.content__title {
  margin-bottom: 1.5em;
}

section.section_designed> div.container> div.content {
 width: 50%;
}


/** Author **/
.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(237, 23%, 32%);
  color: #FFF;
  padding: 0.5em;
}


/** Desktop Max 1440 **/

@media screen (max-width: 1920px) {
  header {  
    height: 100vh; 
  }
}