/** 
* @author: Alexander Chi
* @description:
* @date: 01/Agosto/2021
**/ 
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', 'Ubuntu', sans-serif;   
}

/** Option desktop **/
header {  
  background: url('./assets/svgs/bg-pattern-intro.svg'), linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  width: 100%;  
  border-bottom-left-radius: 50px;
  color: #FFF;   
  background-position: 25% center; 
  padding-bottom: 100px;
} 
 
.header__div__img {
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.logo__img {
  width: 5em;
  height: 2em;
}

.header_div__content_head {
  display: flex; 
  justify-content: space-between;
  padding: 2em 3em;
}

.header__div__options {
  display: flex; 
  width: 100%;
}

.ul__option__desktop {
  display: flex;
  align-items: center;
}

.ul__button__desktop {
  display: flex; 
}

li { 
  display: flex;

  list-style-type: none;
  padding: 0.5em 2em; 
}

li.signup,
li.startfree,
li.learnmore,
li.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0.5em 2em;
  height: 3em;
  cursor: pointer;
}
 
a.a__option__desktop,
a.a__button__desktop {
  text-decoration: none;
  color: #FFF;
}

.li__option__desktop::after {
  padding-left: 0.5em;
  content: url('./assets/svgs/icon-arrow-light.svg');
  cursor: pointer;
}

li.signup,
li.startfree {
  background-color: #FFF;
  color: transparent;
  border-radius: 30px;
} 

li.learnmore {
  border-radius: 30px;
  border: 1px;
  border-style: solid;
  border-color: #FFF;
}

ul.ul__button__desktop> li.signup> a,
ul.ul__button__desktop> li.startfree> a{  
  color: hsl(353, 100%, 62%);
  font-weight: bold;
}

ul> li.startfree{  
  margin-right: 0.5em;
}

.header_div__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.header__title {
  margin-top: 150px;
  font-size: 4em;
}

.header__sub__title {
  font-size: 1.3em;
  margin-top: 25px;
  text-align: center;
}

.header_div__button_action {
  margin-top: 35px;
}

.header_div__button {
  display: flex; 
  justify-content: flex-end;
  width: 100%;
}

.header__content__menu {
  display: flex;
  width: 100%;
  -webkit-animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.header__menu {
  display: none;
  width: 35px;
  height: 35px;
  content: url('./assets/svgs/icon-hamburger.svg');
  cursor: pointer;  
  -webkit-animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}

.header__close {  
  content: url('assets/svgs/icon-close.svg'); 
  -webkit-animation: rotate-right 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-right 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
} 

@keyframes rotate-top {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes rotate-right {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
} 

/** Designed **/
section.section_designed {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px; 
}

.container___title { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  position: absolute;
  font-size: 2.1em;
  font-weight: 700;
}

.container {
  display: flex; 
  flex-direction: row; 
  /*background-repeat: revert;
  background-position: center;*/
}

.content__info {
  margin-bottom: 2.5em; 
}

div.content__info> h3.content__title {
  margin-bottom: 1.5em;
  font-size: 1.6em;
  color: hsl(208, 49%, 24%);
}

.content__text {
  color: hsl(208, 49%, 24%);
  line-height: 2em;
  font-size: 1.1em;
  font-weight: 900;
  opacity: 0.8;
}

section.section_designed> div.container> div.content {
 width: 50%;
 overflow: hidden;
 padding-left: 100px;
}

.content__center__vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.content__r> img { 
  background-position: 25%; 
  height: auto;
  width: auto;
}

div.content__l> img { 
  background-position: 25%; 
  height: auto;
  width: auto;
  margin-left: -280px;
}

.section_state {
  height: 28vh;
  display: flex; 
  background: url('./assets/svgs/bg-pattern-circles.svg') , linear-gradient(90deg, hsl(237, 17%, 21%) 0%, hsl(237, 23%, 32%) 100%);
  color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 5em;
  border-top-right-radius: 5em;
  background-position-y: 80%; 
  background-position-x: -55%; 
  background-repeat: no-repeat;
  padding-left: 50px;
}

.state__content, .content   {
  width: 50%;
}

.free__text {
  margin-right: 100px;
  margin-left: 55px;
} 

.state__content.state__img> img {
  width: auto;
  height: auto;
  margin-top: -65px;
}

.state__text {
  margin-right: 100px;
  margin-left: 120px;
}

.state__text> .content__title {
  font-size: 2.5em;  
  margin-bottom: 1em;
}

.state__text> .content__text {
  color: hsl(0, 0%, 100%);
}

.section_free {
  margin: 100px 0 100px;
}

/*.container>.content {
  margin-right: 60px;
} */
 
footer.footer {
  display: flex; 
  background-color: hsl(240, 10%, 16%);
  color:  hsl(0, 0%, 100%);
  border-top-right-radius: 5em;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
}

.footer__img {
  margin-left: 30px; 
}

.footer__img> img.logo__img {
  width: 6.5em;
  height: 2.5em;
}

.footer_options {
  display: flex; 
  justify-content: space-evenly;
  width: 75%; 
}

a.footer__a {
  color: hsl(240, 2%, 79%);
  text-decoration: none;
}

.footer__section> a.footer__a {
  font-weight: bold;
  color: hsl(0, 0%, 100%);;
}

/** Author **/
.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(237, 23%, 32%);
  color: #FFF;
  padding: 0.5em;
}

.attribution> span> a {
  color: #FFF;
}
 
/** Desktop Max 1440 **/ 
@media (max-width: 1440px) {
  header {  
    height: calc(100vw - 50em); 
  }
}

/** **/
@media (min-width: 1445px) and  (max-width: 1920px) {
   
  .section_free>.container {
    margin: 150px 0 100px;
  }
  .section_state {   
    height: 44vh;
    background-position-y: 80%; 
    background-position-x: -25%; 
    background-repeat: no-repeat;
    padding-left: 50px;
  }
  div.content__r> img {
    background-position: 25%;
    height: auto;
    width: auto;
  }
} 

@media (min-width: 360px) and (max-width: 960px) {
  header {   
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 200vh;
    background-position-x: 35%;
    background-position-y: 35%;
    border-bottom-left-radius: 100px;
  } 
  .header__content__menu.active>.ul__option__desktop>.li__option__desktop>a.a__option__desktop, 
  .header__content__menu.active>.header_div__button>.ul__button__desktop>.li__button__desktop.login>a.a__button__desktop {
    text-decoration: none;
    color: hsl(207, 13%, 34%);
    font-weight: bold;
  }
  .header__content__menu.active>.header_div__button>.ul__button__desktop>.li__button__desktop.signup{
    background: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);; 
  }
  .header__content__menu.active>.header_div__button>.ul__button__desktop>.li__button__desktop.signup>a.a__button__desktop {
    color: hsl(0, 0%, 100%);
  }
  .li__option__desktop::after {
    
  }
  .header__content__menu {
    display: none;
    -webkit-animation: rotate-right 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-right 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }
 
  .header__content__menu.active {
    position: absolute;
    display: flex; 
    flex-direction: column;
    width: 75vw;
    background-color: #FFF;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
  } 

  .header_div__button {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .header_div__button::before {
    content: ' ';
    width: 90%;
    height: 2px;
    background-color:  hsl(240, 2%, 79%); 
  }

  .ul__option__desktop, 
  .header_div__button> .ul__button__desktop{
    flex-direction: column;
  }
  
  .header_div__content,
  .header_div__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2.header__title {
    text-align: center;
    font-size: 3.7em;
  }
  h2.header__title {
    margin-top: 45px;
  }
  p.header__sub__title {
    text-align: center; 
    font-size: 1.5em;
  }
  .header__menu { 
    display: flex; 
  }  
  .header_div__menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  section.section_designed { 
    flex-direction: column;
    padding-top: 50px; 
  }
  .container___title{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5em;
  }
  div.content__info> h3.content__title {
    width: 270px;
  }
  .content__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    margin-top: 2.5em; 
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  } 
  section.section_designed> div.container> div.content {
    width: 100% !important;
    overflow: hidden;
    padding-left: 0;
    text-align: center;
  } 
  div.content__r> img {
    width: 100%;
    height: auto;
    content: url('./assets/svgs/illustration-editor-mobile.svg');
  } 
  .section_state {
    height: 100%;
    flex-direction: column;
    margin-top: 175px;
    background-position-x: 0;
    background-repeat: no-repeat; 
    padding-left: 0;
    padding-bottom: 100px;
  } 
  .state__content.state__img> img {
    width: 100%;
    height: 100vw;
    margin-top: -165px;
  }

  .state__content, .content {
    width: 100% !important;
    text-align: center;
  } 
  .state__text {
    margin-right: 0; 
    margin-left: 0; 
  } 
  div.content__l> img { 
    width: 100%;
    height: auto;
    margin-left: 0;
    content: url('./assets/svgs/illustration-laptop-mobile.svg');
  }
  .free__text {
    margin-right: 0;
    margin-left: 0;
  } 
  .section_free> div.container {
    flex-direction: column;
  }
  .section_free {
    margin: 50px 0 50px;
  }
  footer.footer { 
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    padding-left: 0;
  } 
  p {
    margin-left: 40px;
    margin-right: 40px;
  }
  .footer_options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .footer__img {
    margin-left: 0;
  }  
  .footer_options>div> ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_options> div> ul.footer__ul {
    margin-bottom: 1em;
  }
}

